doctype html
html(lang="en")
  include view/head.pug
  body 
    include view/components/root.pug
    include view/components/navbar.pug
    include view/components/slider.pug
    include view/components/leader.pug
    include view/components/products.pug
    include view/components/nout.pug
    include view/components/banner-ps.pug
    include view/components/topsale.pug
    include view/components/footer.pug
    include view/script.pug
     
     