doctype html
html(lang="en")
  include view/head.pug
  body 
    include view/components/root.pug
    include view/components/navbar.pug
    include view/components/single-tabs.pug
    include view/components/banner-vr.pug
    include view/components/footer.pug
    include view/script.pug