.banner-xbox{
  width: 100%;
  position: relative;
  margin-bottom: 70px;
  &::before{
    width: 100%;
    height: 40%;
    background: #e3e3e3;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  &_banner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &_img{
    width: 100%;
    height: 100%;
    padding: 200px 0 20px;
    text-align: center;
    @include media(992px){
      padding-bottom: 100px;
    }
    @include media(768px){
      padding-top: 150px;
    }
    @include media(480px){
      padding-bottom: 70px;
      padding-top: 170px;
    }
    img{
      width: 80%;
      height: 100%;
      object-fit: contain;
    }
  }
  &_content{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    @include media(992px){
      align-items: center;
      text-align: center;
    }
    &-info{
      h3{
        @include font(48px, 65px, $dark, 600);
        margin-bottom: 10px;
        @include media(768px){
          @include font(35px, 50px)
        }
        @include media(480px){
          @include font(30px, 30px);
          margin: 0;
        }
      }
      p{
        @include font(24px, 33px, $dark);
        padding-right: 30%;
        @include media(992px){
          padding: 0;
        }
        @include media(768px){
          @include font(20px, 25px)
        }
      }
    }
  }
}