.banner-ps.container 
  .banner-ps_content
    img.banner_content-img(src="images/ps5-logo.png", alt="alt")
    h5 PlayStation 5 Console
    button.more WATCH NOW
  .banner-ps_img: img(src="images/ps5-img.png", alt="alt")