.banner-vr.container 
  .banner-vr_img: img(src="images/vr.png", alt="alt") 
  .banner-vr_content 
    h3 Plastation VR
    p Over 500 games and experiences and counting. See them all
    a.more(href="#!") LEARN MORE