.banner-xbox 
  .container.banner-xbox_banner
    .banner-xbox_img: img(src="images/xbox2.png", alt="alt")
    .banner-xbox_content 
      .banner-xbox_content-info 
        h3 Xbox Wireless Controller
        p Textured triggers and bumpers I Hybrid D-pad I Button mapping I Bluetooth
      a.more(href="#!") ADD TO CART    