-var iphone = {1:{title:'IPhone 12 Pro Max 128GB (Gray)',price:'1300$'},2:{title:'IPhone 11 Pro 128GB (Blue)',price:'700$'},3:{title:'IPhone 12 Pro 256 GB (Red)',price: '1500$'},4:{title:'IPhone 11 Pro 256 GB (Yellow)',price:'850$'},}

-var laptop = {1:{title:'Lenovo IdeaPad L3 15IML05',price:'1350$'},2:{title:'Dream Machines G1650Ti-15UA65',price:'1430$'},3:{title:'Apple MacBook Air 13" 2020',price:'1723$'},4:{title:'Dream Machines 15UA51',price:'1200$'},}

-var topSale = {1:{title:'Smart Watch W34 | ZM (White)',price:'29$'},2:{title:'AirPods 2.1',price:'125$'},3:{title:'Smart Watch W34 | ZM (Black)',price:'29$'},4:{title:'Coffee machine VITEK VT-1526',price:'78$'},}

-var samsung = {1:{title:'Samsung Galaxy A51 4/64GB (Black)',price:'230$'},2:{title:'Samsung Galaxy A21S 3/32GB (Blue)',price:'250$'},3:{title:'Samsung Galaxy S10Lite 6/128GB (Blue)',price:'535$'},4:{title:'Samsung Galaxy A41 4/64GB (Blue)',price:'237$'},}

-var xiaomi = {1:{title:'Mi 10t Pro 8/256GB (Black)',price:'730$'},2:{title:'Xiaomi mi 10t Pro 8/256GB (Silver)',price:'727$'},3:{title:'Mi 10 Lite 6/64GB (Grey)',price:'337$'},4:{title:'Mi 10 Lite 6/64GB (Blue)',price:'325$'},}

mixin cardProduct(nameImg, numImg, title, price)
  .products_content-item.card 
    a.card_fav.icon-heart(href="#!") 
    .card_img: img(src="images/"+nameImg+numImg+".png", alt="") 
    .card_content 
      h4=title 
      p=price 
    a.card_btn(href="single.html") buy 